/*
	RED Wizard Scoring System Stylesheet
*/

html, body {
	height: 100%;
	margin: 0 auto;
}

/* HEADER */

header {
	background-color: #3f7373;
	margin-bottom: 1em;
}

header #head-name {
	color: white;
	font-size: 4em;
	font-family: "Courier New";
	font-weight: bold;
	outline: none;
}

#new-event-btn {
	border-radius: 0;
	border: 0;
	transition: all 0.5s ease;
}

#new-event-btn:hover {
	background-color: gray;
	color: white;
}

#new-event-btn:active{
	background-color: lightgray;
}

/* SECTION */

section {
	border-top: 1em solid red;
	background-color: lightgray;
	min-height: 100%;
}

#no-event-record {
	border: 1px dashed gray;
	padding: 2em;
	text-align: center;
	margin: 3em;
}

#event-list {
	padding: 2em;
}

/* FOOTER */

footer {
	background-color: #3f7373;
	margin-top: 1em;
	padding: 1em;
}